<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.joao.felipe.comprarei">

    <application
        android:icon="@mipmap/ic_laucher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_laucher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Comprarei">

        <activity android:name=".activitys.ListaComprasActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.FormularioProdutoActivity" />
        <activity android:name=".activitys.ListaProdutosActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>